# 这个程序的目的是为了获取主力合约1分钟的数据

In [2]:
from jzset import jz_set
import numpy as np
import pandas as pd
import datetime
jz_data = jz_set.data_set(mode='local',
                         jz_license='eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjUyNTYzMTg1MTcuOTk3MzM3LCJpYXQiOjE2NTYzMTg1MTcuOTk3MzM2OSwiaXNzIjoianoiLCJkYXRhIjp7InVzZXJuYW1lIjoiZGFpbWluZ3podW8iLCJ0aW1lc3RhbXAiOjE2NTYzMTg1MTcuOTk3MzM2OSwicGVybWlzc2lvbiI6WyJtYWNybyIsImZ1dHVyZXMiXSwiaG9zdCI6IjQ3LjEwMy4xMzcuMTI0IiwiZGF0YWJhc2UiOiJkZWZhdWx0IiwidXNlciI6ImRlZmF1bHQiLCJwYXNzd29yZCI6ImRlZmF1bHQifX0.kq7j6UpX0h2yRNGa3w21MAHlWhao9bnmso8lL5KTo54')

jz_dataset: version 220528-1.0.1
Effective time: 3597427867
Permission: ['macro', 'futures']

In [3]:
jz_data.data_dictionary()[['JzCode', 'FullName']]

        JzCode                                     FullName
0    JZ2000027                                2010 jz期货分钟数据
1    JZ2000028                                2011 jz期货分钟数据
2    JZ2000029                                2012 jz期货分钟数据
3    JZ2000030                                2013 jz期货分钟数据
4    JZ2000031                                2014 jz期货分钟数据
..         ...                                          ...
136  JZ0001068                                    美债十年期实际利率
137  JZ0001070                                    美债5年期实际利率
138  JZ0001071  美国国债收益率:1m,3m,6m,1y,2y,3y,5y,7y,10y,20y,30y
139  JZ0001034                          美国标准普尔500波动率指数(VIX)
140  JZ0001029                                   中间价:美元兑人民币

[141 rows x 2 columns]

In [3]:
rq = jz_data.data_dictionary()['FullName']

In [6]:
'rq_data' in rq.loc[135]

True

In [7]:
mask = rq.apply(lambda a_str: 'rq_data' in a_str)

In [8]:
rq.loc[mask]

114    2010 rq_data期货分钟数据
115    2011 rq_data期货分钟数据
116    2012 rq_data期货分钟数据
117    2013 rq_data期货分钟数据
118    2014 rq_data期货分钟数据
119    2015 rq_data期货分钟数据
120    2016 rq_data期货分钟数据
121    2017 rq_data期货分钟数据
122    2018 rq_data期货分钟数据
123    2019 rq_data期货分钟数据
124    2020 rq_data期货分钟数据
125    2021 rq_data期货分钟数据
126    2022 rq_data期货分钟数据
127     2010 rq_data期货日数据
128     2011 rq_data期货日数据
129     2012 rq_data期货日数据
130     2013 rq_data期货日数据
131     2014 rq_data期货日数据
132     2015 rq_data期货日数据
133     2016 rq_data期货日数据
134     2017 rq_data期货日数据
135     2018 rq_data期货日数据
136     2019 rq_data期货日数据
137     2020 rq_data期货日数据
138     2021 rq_data期货日数据
139     2022 rq_data期货日数据
Name: FullName, dtype: object

In [4]:
def get_jz_code(a_datetime):
    a_year = a_datetime.year
    code_num = a_year - 2010 + 27
    return 'JZ20000{}'.format(code_num)


def get_1mindata_allcontract(inst, date_str):
    date_datetime = datetime.datetime.strptime(date_str, '%Y%m%d')
    res = jz_data.bar_data(product=inst,
                           jz_code=get_jz_code(date_datetime),
                           start_date=date_str,
                           end_date=date_str)
    return res


def filter_volume_overflow(daily_data):
    overflow_flag = (np.abs(daily_data['TradeVolume']) > 2e8) 
    daily_data['TradeVolume'].loc[overflow_flag] = np.nan
    daily_data['Turnover'].loc[overflow_flag] = np.nan
    return

In [6]:
res = get_1mindata_allcontract('AG', '20220501')
res.empty

True

In [32]:
tmp = res.loc[res['Code']=='AG2206']
tmp.sort_index(inplace=True)
tmp

C:\Users\Administrator\AppData\Local\Temp\ipykernel_26984\3587825034.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tmp.sort_index(inplace=True)

,Code,Exchange,TradeDate,TradeTime,OpenPrice,HighPrice,LowPrice,ClosePrice,TradeVolume,OpenInterest,Turnover,Product
108,AG2206,,2022-04-29,21:00:00,4895,4895,4895,4895,15488,386340,1137200000,AG
109,AG2206,,2022-04-29,21:01:00,4890,4900,4889,4897,6480,386206,475900000,AG
110,AG2206,,2022-04-29,21:02:00,4897,4908,4895,4904,3956,386209,290970000,AG
111,AG2206,,2022-04-29,21:03:00,4904,4905,4896,4896,2718,386553,199770000,AG
112,AG2206,,2022-04-29,21:04:00,4895,4899,4889,4890,3925,387224,288150000,AG
...,...,...,...,...,...,...,...,...,...,...,...,...
659,AG2206,,2022-04-29,14:56:00,4956,4956,4954,4956,1373,369806,102050000,AG
660,AG2206,,2022-04-29,14:57:00,4955,4956,4952,4952,1208,369729,89770000,AG
661,AG2206,,2022-04-29,14:58:00,4953,4954,4952,4954,1056,369399,78460000,AG
662,AG2206,,2022-04-29,14:59:00,4953,4954,4953,4954,1344,368882,99860000,AG
663,AG2206,,2022-04-29,15:00:00,4954,4956,4953,4954,2160,368557,160530000,AG

In [24]:
def getMainContract(allContractDF):
    dfByContract = allContractDF.groupby(by=['Code'])['TradeVolume'].sum()
    return pd.to_numeric(dfByContract).idxmax()

In [25]:
getMainContract(res)

'AG1912'

In [26]:
getMainContract(get_1mindata_allcontract('AG', '201'))

'AG2002'

In [13]:
getMainContract(get_1mindata_allcontract('AG', '20191126'))

'AG2002'

In [36]:
pd.to_numeric(tmp).idxmax()

'AG2212'

In [ ]:
def getMainContract(allContractDF):
    dfByContract = allContractDF.groupby(by=['Code'])['TradeVolume'].sum()
    return pd.to_numeric(dfByContract).idxmax()

In [68]:
def get_jz_code(a_datetime):
    a_year = a_datetime.year
    code_num = a_year - 2010 + 27
    return 'JZ20000{}'.format(code_num)

In [69]:
get_jz_code(pd.to_datetime('20220101'))

'JZ2000039'

In [ ]:
def get1minBarData(start, end, inst):
    tmp_main_contract = []
    dateList = dateRange(start, end)
    realDateList = []
    for tmp_datetime in dateList:
        tmp_code = get_jz_code(tmp_datetime)
        tmp_nextDatetime = tmp_datetime + datetime.timedelta(days=1)
        tmp_date_str = datetime.datetime.strftime(tmp_datetime, '%Y%m%d')
        tmp_next_date_str = datetime.datetime.strftime(tmp_nextDatetime, '%Y%m%d')
        print(tmp_date_str, tmp_next_date_str)
        res = jz_data.bar_data(product=inst,
                               jz_code=tmp_code,
                               start_date=tmp_date_str,
                               end_date=tmp_next_date_str)

        if res.empty:
            continue
        realDateList.append(tmp_date_str)
        tmpMainContract = getMainContract(res)
        if not tmp_main_contract:
            resDF = res.loc[res['Code'] == tmpMainContract]
            tmp_main_contract.append(tmpMainContract)
        elif tmpMainContract > tmp_main_contract[-1]:
            resDF = res.loc[res['Code'] == tmpMainContract]
            tmp_main_contract.append(tmpMainContract)
        elif tmpMainContract <= tmp_main_contract[-1]:
            resDF = res.loc[res['Code'] == (tmp_main_contract[-1])]
            tmp_main_contract.append(tmp_main_contract[-1])
        else:
            continue
        resDF = handleData(resDF)
        writeData(resDF, inst, tmp_date_str)
    writeContract(tmp_main_contract, realDateList, inst)
    return

In [84]:
res = jz_data.bar_data(product='AU',
                       jz_code='JZ2000031',
                       start_date='20140915',
                       end_date='20140915')

In [85]:
res

Empty DataFrame
Columns: []
Index: []

In [97]:
def handleData(df):
    df = df.loc[:, ['Code', 'TradeTime', 'OpenPrice', 'HighPrice', 'LowPrice', 'ClosePrice',
                    'TradeVolume', 'OpenInterest', 'Turnover']]

    df['TradeTime'] = pd.to_datetime(df['TradeTime'])

    df.set_index(['TradeTime'], inplace=True)
    df.sort_index(inplace=True)
    return df

In [98]:
new = handleData(res)

In [102]:
type(new.index[0])

pandas._libs.tslibs.timestamps.Timestamp

In [104]:
a = pd.to_datetime('20200606 09:30:30')

In [106]:
8<a.hour<17

True

In [113]:
def isNight(a_time):
    if 8<a_time.hour<17:
        return False
    else:
        return True

In [117]:
list(map(isNight, new.index[7000:8000]))

[False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False]

In [118]:
new.index.time< datetime

array([datetime.time(0, 0), datetime.time(0, 0), datetime.time(0, 0), ...,
       datetime.time(23, 59), datetime.time(23, 59),
       datetime.time(23, 59)], dtype=object)

In [ ]:
# 需要一个读取一个合约某一日数据的函数
def read1minData(inst, date, old_or_not=False):
    if old_or_not:
        file_path = os.path.join(OLD_PATH, inst, '{}.csv'.format(date))
    else:
        file_path = os.path.join(SRC_PATH, inst, '{}.csv'.format(date))
    res = pd.read_csv(file_path,
                      parse_dates=['TradeDate', 'TradeTime'],
                      index_col=['TradeDate_TradeTime'])
    return res

# 需要判断一个时间点是否属于夜盘的时间点
def isNight(a_time):
    if 8<a_time.hour<17:
        return False
    else:
        return True

In [ ]:
read1MinData()

In [132]:
a = '21:35:08:335'

In [164]:
q = datetime.datetime.strptime('21:35:08:335', '%H:%M:%S:%f')

In [179]:
q

datetime.datetime(1900, 1, 1, 21, 35, 8, 335000)

In [180]:
import copy

In [176]:
q.microsecond/1000

335.0

In [182]:
a =copy.deepcopy(q)

In [184]:
datetime.datetime(q.year, q.month, q.day, q.hour, q.minute, q.second, 500000)

datetime.datetime(1900, 1, 1, 21, 35, 8, 500000)

In [148]:
q = pd.read_csv('F:/real_detail/trade_pyjz01_20220629.csv',
                                   names=['instrument_id',
                               'order_date',
                               'order_time',
                               'order_ref',
                               'filled_size',
                               'limit_price',
                               'account_id',
                               'direction',
                               'unknown1',
                               'unknown2',
                               'millisecond',
                               'unknown4'
                               ],
           parse_dates = [['order_date', 'millisecond']])

In [153]:
tmp = pd.to_datetime(q['order_date_millisecond'], format='%Y%m%d %H:%M:%S:%f')

In [157]:
import os

In [162]:
PATH = 'C:/tickdata_checkOrder/'
fileList = os.listdir('C:/tickdata_checkOrder')


def readTickDataRaw(path):
    tmp = pd.read_csv(path,
                      usecols=['TDATE', 'TTIME', 'UPDATEMILLISEC', 'LASTPX', 'HIGHPX', 'LOWPX',
                               'TQ', 'TM', 'RISELIMIT', 'FALLLIMIT', 'S1', 'B1', 'SV1', 'BV1',
                               'OPENINTEREST'],
                      dtype={
                          'TDATE': str,
                          'TTIME': str,
                          'UPDATEMILLISEC': str,
                          'LASTPX': np.float64,
                          'HIGHPX': np.float64,
                          'LOWPX': np.float64,
                          'TQ': np.float64,
                          'TM': np.float64,
                          'RISELIMIT': np.float64,
                          'FALLLIMIT': np.float64,
                          'S1': np.float64,
                          'B1': np.float64,
                          'SV1': np.float64,
                          'BV1': np.float64,
                          'OPENINTEREST': np.float64,
                      },
                      parse_dates=[['TDATE', 'TTIME', 'UPDATEMILLISEC']],
                      engine='c')
    tmp['TDATE_TTIME_UPDATEMILLISEC'] = pd.to_datetime(tmp['TDATE_TTIME_UPDATEMILLISEC'], format='%Y%m%d %H%M%S %f')
    tmp['B1'] = np.where((tmp['B1'] < tmp['FALLLIMIT']) | (tmp['B1'] > tmp['RISELIMIT']),
                         tmp['FALLLIMIT'],
                         tmp['B1'])
    tmp['S1'] = np.where((tmp['S1'] < tmp['FALLLIMIT']) | (tmp['S1'] > tmp['RISELIMIT']),
                         tmp['RISELIMIT'],
                         tmp['S1'])
    tmp.drop(columns=['RISELIMIT', 'FALLLIMIT'], inplace=True)
    tmp.set_index(['TDATE_TTIME_UPDATEMILLISEC'], inplace=True)
    return tmp

In [163]:
readTickDataRaw('C:/tickdata_checkOrder/20220616/AL2207.csv')

,LASTPX,HIGHPX,LOWPX,TQ,TM,S1,B1,SV1,BV1,OPENINTEREST
TDATE_TTIME_UPDATEMILLISEC,,,,,,,,,,
2022-06-15 20:59:00.500,19915.0,19915.0,19915.0,326.0,3.246145e+07,19920.0,19915.0,98.0,112.0,165747.0
2022-06-15 21:00:00.500,19910.0,19920.0,19855.0,617.0,6.141745e+07,19910.0,19855.0,19.0,25.0,165616.0
2022-06-15 21:00:01.000,19910.0,19920.0,19855.0,1104.0,1.098523e+08,19915.0,19905.0,3.0,6.0,165807.0
2022-06-15 21:00:01.500,19890.0,19920.0,19855.0,1297.0,1.290608e+08,19900.0,19885.0,3.0,12.0,165800.0
2022-06-15 21:00:02.000,19900.0,19920.0,19855.0,1391.0,1.384128e+08,19900.0,19895.0,1.0,1.0,165794.0
...,...,...,...,...,...,...,...,...,...,...
2022-06-16 14:59:59.500,20000.0,20250.0,19855.0,247831.0,2.485648e+10,20005.0,20000.0,3.0,90.0,155127.0
2022-06-16 15:00:00.000,20005.0,20250.0,19855.0,247832.0,2.485658e+10,20005.0,20000.0,2.0,92.0,155126.0
2022-06-16 15:00:00.500,20005.0,20250.0,19855.0,247832.0,2.485658e+10,20005.0,20000.0,2.0,92.0,155126.0
2022-06-16 15:22:37.000,20005.0,20250.0,19855.0,247832.0,2.485658e+10,20005.0,20000.0,2.0,92.0,155126.0
2022-06-16 15:22:37.000,20005.0,20250.0,19855.0,247832.0,2.485658e+10,20005.0,20000.0,2.0,92.0,155126.0

In [70]:
DATA_SRC = 'D:/data_1min_consecutive'
SYMBOLS = ['AG', 'AL', 'AU', 'BU', 'C', 'CU', 'EB', 'EG', 'FG', 'FU',
           'HC', 'I', 'J', 'JM', 'L', 'M', 'MA', 'NI', 'OI', 'P', 'PF', 'PP',
           'RB', 'RM', 'RU', 'SA', 'SC', 'SP', 'TA', 'V', 'Y', 'ZC', 'ZN']


def get_file_path(inst, date_str):
    return os.path.join(DATA_SRC, inst, '{}.csv'.format(date_str))


def read_file(file_path):
    data = pd.read_csv(file_path,
                       index_col=[0,])
    return data


def handle_data(data):
    data['TradeDate'] = data['TradeDate'].apply(lambda a_str: datetime.datetime.strptime(a_str, '%Y-%m-%d').date())
    data['TradeTime'] = data['TradeTime'].apply(lambda a_str: datetime.datetime.strptime(a_str, '%H:%M:%S').time())
    # 这里到底要不要删除 那些没有的夜盘数据呢？
    return data


def read_consecutive_data(inst, date_str):
    data = read_file(get_file_path(inst, date_str))
    return handle_data(data)

In [71]:
raw_data = read_consecutive_data('RB', '20120510')

In [72]:
raw_data

,Code,TradeDate,TradeTime,OpenPrice,HighPrice,LowPrice,ClosePrice,TradeVolume,OpenInterest,Turnover
1130,RB1210,2012-05-10,09:00:00,3472.115639,3472.115639,3472.115639,3472.115639,2005,449314,84250100
1131,RB1210,2012-05-10,09:01:00,3472.115639,3472.115639,3460.547429,3460.547429,9268,449301,388587000
1132,RB1210,2012-05-10,09:02:00,3460.547429,3462.200030,3458.894827,3461.373729,5281,450107,221190640
1133,RB1210,2012-05-10,09:03:00,3461.373729,3462.200030,3460.547429,3461.373729,1729,450411,72429840
1134,RB1210,2012-05-10,09:04:00,3461.373729,3461.373729,3456.415925,3458.068526,3521,450610,147390970
...,...,...,...,...,...,...,...,...,...,...
1351,RB1210,2012-05-10,14:56:00,3463.852631,3464.678932,3461.373729,3462.200030,1837,449131,76993340
1352,RB1210,2012-05-10,14:57:00,3462.200030,3463.026331,3461.373729,3462.200030,978,448841,40979530
1353,RB1210,2012-05-10,14:58:00,3462.200030,3463.852631,3462.200030,3463.026331,1490,448590,62450470
1354,RB1210,2012-05-10,14:59:00,3463.026331,3463.026331,3462.200030,3463.026331,767,448144,32140950
1355,RB1210,2012-05-10,15:00:00,3463.026331,3463.026331,3461.373729,3462.200030,3190,447109,133668610

In [120]:
STARTTIME1 = datetime.time(21, 0, 0)
ENDTIME1 = datetime.time(2, 30, 0)
STARTTIME2 = datetime.time(9, 0, 0)
ENDTIME2 = datetime.time(11, 30, 0)
STARTTIME3 = datetime.time(13, 30, 0)
ENDTIME3 = datetime.time(15, 0, 0)
def part_sign(a_time):
    if (a_time <= ENDTIME1) or (a_time >= STARTTIME1):
        return 1
    elif (a_time >= STARTTIME2) and (a_time <= ENDTIME2):
        return 2
    elif (a_time >= STARTTIME3) and (a_time <= ENDTIME3):
        return 3
    else:
        raise ValueError('timeError!')


# 在groupby的过程中需谨记：有的日子是没有夜盘的，也就是在groupby的过程中会少一栏1
def dowm_sample_3part(data):
    data['time_flag'] = data['TradeTime'].apply(part_sign)
    data_new = data.groupby(data['time_flag']).agg({'Code': 'first',
                                                    'TradeDate': 'first',
                                                    'OpenPrice': 'first',
                                                    'HighPrice': np.nanmax,
                                                    'LowPrice': np.nanmin,
                                                    'ClosePrice': 'last',
                                                    'TradeVolume': np.nansum,
                                                    'OpenInterest': 'last',
                                                    'Turnover': np.nansum})
    if len(data_new) == 3:
        return data_new
    else:
        data_new = data_new.reindex([1,2,3])
        data_new[['Code', 'TradeDate']] = data_new[['Code', 'TradeDate']].fillna(method='backfill')
        return data_new

In [121]:
q = dowm_sample_3part(raw_data)
q

,Code,TradeDate,OpenPrice,HighPrice,LowPrice,ClosePrice,TradeVolume,OpenInterest,Turnover
time_flag,,,,,,,,,
1,RB1210,2012-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,RB1210,2012-05-10,3472.115639,3472.115639,3453.937023,3458.894827,103484.0,450982.0,4.332465e+09
3,RB1210,2012-05-10,3458.894827,3464.678932,3456.415925,3462.200030,62928.0,447109.0,2.635657e+09

In [119]:
q = q.set_index(['TradeDate'], append=True)
q.swaplevel(0,1)

                        Code    OpenPrice    HighPrice     LowPrice  \
TradeDate  time_flag
2012-05-10 1          RB1210          NaN          NaN          NaN
           2          RB1210  3472.115639  3472.115639  3453.937023
           3          RB1210  3458.894827  3464.678932  3456.415925

                       ClosePrice  TradeVolume  OpenInterest      Turnover
TradeDate  time_flag
2012-05-10 1                  NaN          NaN           NaN           NaN
           2          3458.894827     103484.0      450982.0  4.332465e+09
           3          3462.200030      62928.0      447109.0  2.635657e+09

In [101]:
def calcTradePrice(data, tradeMinutes):
    trade_startTime = [STARTTIME1, STARTTIME2, STARTTIME3]
    trade_endTime = [datetime.time(i.hour, i.minute + tradeMinutes, 0) for i in trade_startTime]
    mask_night = (data['TradeTime'] >= trade_startTime[0]) & (data['TradeTime'] <= trade_endTime[0])
    mask_am = (data['TradeTime'] >= trade_startTime[1]) & (data['TradeTime'] <= trade_endTime[1])
    mask_pm = (data['TradeTime'] >= trade_startTime[2]) & (data['TradeTime'] <= trade_endTime[2])
    res = []
    for mask in [mask_night, mask_am, mask_pm]:
        tradePrice = data.loc[mask, 'ClosePrice']
        if tradePrice.empty:
            res.append(np.nan)
        else:
            res.append(tradePrice.mean())
    return res

In [102]:
calcTradePrice(raw_data, 14)

[nan, 3458.9499138429633, 3459.8391708116915]

In [88]:
2 not in [2,3 ]

False